{% extends 'images/base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Project Done By:</h4>
                    <ul>
                        <li>P.Srikanth-1401036</li>
                        <li>Biswa-1401015</li>
                        <li>Athul-1401018</li>
                        <li>Dileep-1401027</li>
                    </ul>
                    <h4>College Details:</h3>
                    <ul>
                        <li>IIITG</li>
                        <li>Ambari,GNB Road</li>
                        <li>Assam Textile Institute</li>
                        <li>Guwahati-781001</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
